---
import fetchArticles from "../lib/fetchArticles";

const {class: className} = Astro.props;
const articles = await fetchArticles({count: 3});
---
<h2 class="visually-hidden">Popular Articles</h2>
<ul role="list" class:list={className}>
  {
    articles.map((article) => (
    <li>
      <article>
        <img src={article.data.image}>
        <div>
          <h3><a href={`/article/${article.data.slug}`}> {article.data.title}</a></h3>
          <p class="truncate">{article.data.content}</p>
        </div>
      </article>
    </li>
    ))
  }
</ul>

<style>
  article {
    display: grid;
    gap: 1rem;
    grid-template-columns: 100px auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > div {
      display: grid;
      gap: .25rem;

      
  &::before {
    line-height: 1;
    content: counter(article-count, decimal-leading-zero);
    display: block;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
    color: var(--clr-accent-400);
  }
    }
  }

  ul {
    counter-reset: article-count;
  }

  li {
    counter-increment: article-count;
  }

</style>